{
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.{cls,trigger}",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "apexInsertFinalNewline": true
      }
    },
    {
      "files": "*.xml",
      "options": {
        "printWidth": 100,
        "xmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.labels-meta.xml",
      "options": {
        "xmlWhitespaceSensitivity": "strict",
        "printWidth": 400
      }
    },
    {
      "files": "*.md-meta.xml",
      "options": {
        "xmlWhitespaceSensitivity": "strict",
        "printWidth": 400
      }
    },
    {
      "files": [
        "*.field-meta.xml",
        "*.validationRule-meta.xml",
        "*.object-meta.xml",
        "*.js-meta.xml"
      ],
      "options": {
        "xmlWhitespaceSensitivity": "strict",
        "printWidth": 400
      }
    }
  ]
}
